.headingAbout {
    opacity: 0;
    animation: fadeInHeading 1s ease forwards; 
  }
    
  .aboutInfo {
    opacity: 0; 
    margin-left: 150px;
    margin-bottom: 200px;
    height: 50px;
    width: 520px;
    font-size: 35px;
    font-weight: 400;
    color: black;
    line-height: 45px;
    animation: slideInText 2s ease forwards; 
  }
  
  @keyframes fadeInHeading {
    from {
      opacity: 0;
    }
    to {
      opacity: 1; 
    }
  }
  
  @keyframes slideInText {
    from {
      opacity: 0;
      transform: translateX(-90px); 
    }
    to {
      opacity: 1; 
      transform: translateX(10); 
    }
  }

  @media only screen and (max-width: 600px) {
    .aboutInfo { 
      margin-left: 0px;
      margin-right: 20px;
      height: 50px;
      width: 520px;
      font-size: 35px;
      font-weight: 400;
      color: black;
      line-height: 45px;
      padding: 50px;
      margin-bottom: 280px;
    }
  }