.headingAbout {
    opacity: 0;
    animation: fadeInHeading 1s ease forwards; 
  }
    
  .aboutInfo {
    opacity: 0; 
    margin-left: 150px;
    margin-bottom: 200px;
    height: 50px;
    width: 520px;
    font-size: 35px;
    font-weight: 400;
    color: black;
    line-height: 45px;
    animation: slideInText 2s ease forwards; 
  }
  
  @keyframes fadeInHeading {
    from {
      opacity: 0;
    }
    to {
      opacity: 1; /* Fade in the heading */
    }
  }
  
  @keyframes slideInText {
    from {
      opacity: 0;
      transform: translateX(-90px); /* Start off-screen to the left */
    }
    to {
      opacity: 1; /* Fade in the text */
      transform: translateX(10); /* Slide in from left to right */
    }
  }
  