 .container {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.container li {
    float: left;
    justify-content: flex-start;
    font-size: 19px;
}

.container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container li a:hover {
    background-color: #111111;
}

.container li:nth-child(1) {
    font-size: 22px;
    font-weight: 600;
    text-shadow: 2px 2px 8px #FF0000;
    margin-right: auto; 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container li {
        float: none; 
    }

    .container li:nth-child(1) {
        margin-right: 0; 
    }
}
